// bower:scss
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


// if lack of content push page down
.hfix {
  min-height: 80vh;
}

.brand-logo {
  margin-left: 1%;
}